<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagination – Eva Design System</title>
    <link rel="stylesheet" href="/eva/eva-core.min.css" />
    <link rel="stylesheet" href="/eva/eva.min.css" />
  </head>
  <body>
    <h1>Pagination</h1>

    <section>
      <h2>Default</h2>
      <div class="eva-3-pagination">
        <ul class="pagination-container">
          <li class="pagination-item-container page-prev">
            <a class="pagination-item" href="#">Anterior</a>
          </li>
          <li class="pagination-item-container">
            <a class="pagination-item -active" href="#">1</a>
          </li>
          <li class="pagination-item-container">
            <a class="pagination-item" href="#">2</a>
          </li>
          <li class="pagination-item-container">
            <a class="pagination-item" href="#">3</a>
          </li>
          <li class="pagination-item-container">
            <a class="pagination-item" href="#">4</a>
          </li>
          <li class="pagination-item-container page-next">
            <a class="pagination-item" href="#">Siguiente</a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>