@import "../../scss/eva-core";

// button-circle container
.eva-#{$version}-button-circle {
	display: inline-flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;

	&:hover {
		.button-circle-icon {
			color: var(--brand-primary-3);
		}

		.button-circle-label {
			color: var(--brand-primary-3);
		}
	}

	&:after {
		content: "";
		width: 120%;
		height: 2px;
		margin-top: 8px;
		border-radius: 8px;
		background-color: var(--brand-primary-3);
		opacity: 0;
	}

	//Button circle icon
	.button-circle-icon {
		color: var(--color-neutral-700);
		font-size: 24px;
		text-align: center;
		transition: background-color 0.1s ease-out, color 0.1s ease-out;
	}
	//Button circle label
	.button-circle-label {
		margin-top: 8px;
		color: var(--color-neutral-700);
		font-size: 14px;
		user-select: none;
	}

	&.-active,&:active {
		font-weight: 500;

		&:after {
			content: "";
			height: 2px;
			margin-top: 8px;
			border-radius: 8px;
			background-color: var(--brand-primary-3);
			opacity: 1;
		}

		.button-circle-icon {
			color: var(--brand-primary-3);
		}

		.button-circle-label {
			color: var(--brand-primary-3);
		}
	}
}
