@import "../../scss/eva-core";

// MIXINS --------------------------------------------------
//sizes textareas
@mixin eva-textarea-size($width: 100%, $font-size: 14px, $padding: $spacing-2) {
	.textarea-label {
		margin-bottom: $padding;
	}

	.textarea-tag {
		width: $width;
		padding: $padding $padding;
		border-radius: $border-radius-3;
		font-family: inherit;
		font-size: $font-size;
	}
}

// Textareas
.eva-#{$version}-textarea {
	.textarea-message {
		display: inline-block;
		padding-top: $spacing-1;
		color: var(--color-neutral-700);
		font-size: 11px;
	}

	.textarea-container {
		position: relative;
	}

	.textarea-tag {
		@include eva-input-placeholder;
		box-sizing: border-box;
		border-width: 1px;
		border-style: solid;
		border-color: var(--color-neutral-600);
		box-shadow: none;
		color: var(--color-neutral-800);
		font-family: var(--font-family), Arial, sans-serif;
		line-height: 1.4;
		transition: border-color 0.3s ease-out;
		resize: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;

		&:disabled {
			border-color: var(--color-neutral-400);
			background-color: var(--color-neutral-400);
			color: var(--color-neutral-600);
			cursor: default;
		}

		&:focus, &:focus-visible {
			@include eva-focus($offset: "inside");
		}
	}

	// Skins
	&.-no-border:not(&-invalid) {
		.textarea-tag {
			border-color: var(--color-white);

			&:focus {
				border-color: var(--color-neutral-800);
				box-shadow: inset 0 0 0 1px var(--color-neutral-800);
			}

			&:disabled {
				border-color: var(--color-neutral-400);
			}
		}

		.textarea-message {
			color: var(--color-white);
		}
	}

	&.-invalid {
		.textarea-tag {
			border-color: var(--color-error-500);

			&:focus, &:focus-visible {
				@include eva-focus($color: "error", $offset: "inside");
			}
		}
	}

	// Sizes
	&.-md {
		@include eva-textarea-size;
		@include breakpoint("medium", "down") {
			@include eva-textarea-size(100%, 14px, $spacing-4);
		}
	}

	&.-sm {
		@include eva-textarea-size(100%, 12px, 4px);
		@include breakpoint("medium", "down") {
			@include eva-textarea-size(100%, 14px, $spacing-4);
		}
	}

	&.-lg {
		@include eva-textarea-size(100%, 14px, $spacing-4);
	}
}