
@mixin overlays {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	text-align: left;
	transition: opacity 0.3s 0.4s, visibility 0.3s 0.4s;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	z-index: 999;
	pointer-events: none;
}