<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Social – Eva Design System</title>
    <link rel="stylesheet" href="/eva/eva-core.min.css" />
    <link rel="stylesheet" href="/eva/eva.min.css" />
  </head>
  <body>
    <h1>Button Social</h1>

    <section>
      <h2>Variantes</h2>
      <div class="row">
        <button type="button" class="eva-3-btn -lg -google">
          <i class="eva-3-icon -social-google btn-icon"></i>
          <em class="btn-text">Ingresá con Google</em>
        </button>
        <button type="button" class="eva-3-btn -lg -facebook">
          <i class="eva-3-icon -social-facebook-filled btn-icon"></i>
          <em class="btn-text">Ingresá con Facebook</em>
        </button>
        <button type="button" class="eva-3-btn -lg -twitter">
          <i class="eva-3-icon -social-twitter btn-icon"></i>
          <em class="btn-text">Ingresá con Twitter</em>
        </button>
      </div>
    </section>

    <section>
      <h2>Tamaños</h2>
      <div class="row">
        <button type="button" class="eva-3-btn -lg -google">
          <i class="eva-3-icon -social-google btn-icon"></i>
          <em class="btn-text">Large</em>
        </button>
        <button type="button" class="eva-3-btn -md -google">
          <i class="eva-3-icon -social-google btn-icon"></i>
          <em class="btn-text">Medium</em>
        </button>
      </div>
    </section>

    <section>
      <h2>Estados</h2>
      <span class="label">loading</span>
      <div class="row">
        <button type="button" class="eva-3-btn -lg -google -loading">
          <span class="btn-status">Cargando</span>
        </button>
      </div>
      <span class="label">disabled</span>
      <div class="row">
        <button type="button" class="eva-3-btn -lg -google -disable" disabled>
          <em class="btn-text">Ingresá con Google</em>
        </button>
      </div>
    </section>
  </body>
</html>