@import "../../scss/eva-core";

// Loyalty
:root {
	--eva-loyalty-primary-700: #F04A51;
	--eva-loyalty-primary-500: #FF5C63;
	--eva-loyalty-primary-300: #FF7A80;
	--eva-loyalty-primary-200: #FFBDC0;
	--eva-loyalty-primary-100: #FFF1F2;

	--eva-loyalty-secondary-500: #FAE74B;
	--eva-loyalty-secondary-300: #FFF288;
	--eva-loyalty-secondary-200: #FFF5AB;
	--eva-loyalty-secondary-100: #FFFBDB;

	--eva-loyalty-tertiary-900: #12101C;
	--eva-loyalty-tertiary-800: #1B182B;
	--eva-loyalty-tertiary-600: #353645;
	--eva-loyalty-tertiary-400: #535466;

	--eva-loyalty-quaternary-800: #897940;
	--eva-loyalty-quaternary-500: #E0CB82;
	--eva-loyalty-quaternary-300: #ECE0B4;
	--eva-loyalty-quaternary-100: #F9F5E6;
}
