// Spacing

// Unitless base spacing
$base-spacing: 4px;

// Positive spacing
$spacing-1: ($base-spacing * 1);
$spacing-2: ($base-spacing * 2);
$spacing-3: ($base-spacing * 3);
$spacing-4: ($base-spacing * 4);
$spacing-5: ($base-spacing * 5);
$spacing-6: ($base-spacing * 6);
$spacing-7: ($base-spacing * 7);
$spacing-8: ($base-spacing * 8);
$spacing-9: ($base-spacing * 9);
$spacing-10: ($base-spacing * 10);
$spacing-11: ($base-spacing * 11);
$spacing-12: ($base-spacing * 12);
$spacing-13: ($base-spacing * 13);
$spacing-14: ($base-spacing * 14);
$spacing-15: ($base-spacing * 15);
$spacing-16: ($base-spacing * 16);
$spacing-17: ($base-spacing * 17);
$spacing-18: ($base-spacing * 18);

// Negative spacing
$spacing-n1: ($base-spacing * -1);
$spacing-n2: ($base-spacing * -2);
$spacing-n3: ($base-spacing * -3);
$spacing-n4: ($base-spacing * -4);
$spacing-n5: ($base-spacing * -5);
$spacing-n6: ($base-spacing * -6);
$spacing-n7: ($base-spacing * -7);
$spacing-n8: ($base-spacing * -8);
$spacing-n9: ($base-spacing * -9);
$spacing-n10: ($base-spacing * -10);
$spacing-n11: ($base-spacing * -11);
$spacing-n12: ($base-spacing * -12);
$spacing-n13: ($base-spacing * -13);
$spacing-n14: ($base-spacing * -14);
$spacing-n15: ($base-spacing * -15);
$spacing-n16: ($base-spacing * -16);
$spacing-n17: ($base-spacing * -17);
$spacing-n18: ($base-spacing * -18);